@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #27232b;
  margin: 0;
}

body {
  padding: 4rem;
  padding-top: 1rem;
}

input {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 0.5rem;
  width: 95%;
  margin: 1rem;
}

h1 {
  color: white;
  font-size: 2.5rem;
  font-family: "Playwrite DE Grund", sans-serif;
  padding: 0.5rem 0 2rem 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  padding: 1.5rem;
  color: #d4d4d4;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0.3rem 0.5rem #ffffff08;
  display: flex;
  flex-direction: column;
  height: 0%;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
  overflow: hidden;
  width: 30%;
}

.card p {
  background-color: white;
  flex: 1;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-align: center;
}

.card img {
  width: 100%;
}
